@{
    ViewData["Title"] = "Formulário de cadastro";
}

<h1>Formulário de Cadastro</h1>

<p>Utilize o formulário para realizar o cadastro</p>


<form action="ResultadoFormulario" method="post">
    <label for="nomecompleto">Nome completo</label> <br>
    <input type="text" name="nomecompleto" id="nomecompleto"> <br>

    <label for="email">E-mail</label> <br>
    <input type="text" name="email" id="email"> <br>

    <label for="senha">Senha</label> <br>
    <input type="text" name="senha" id="senha"> <br> <br>
    
    <button type="submit">Enviar</button>
</form>





